@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--theme-color--two);
}

:root {
  --theme-color: #ffd200;
  --theme-color--two: #111111;
  --white: #fff;
}

.theme-color-1 {
  color: var(--theme-color);
}

@keyframes flash {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
::selection {
  background-color: #ffd200;
  color: #111111;
}

.pt-60 {
  padding-top: 80px;
}

.pb-60 {
  padding-bottom: 80px;
}

.commonBtn {
  padding: 12px 30px;
  border-radius: 10px;
  border: 2px solid var(--theme-color);
  color: var(--white);
  transition: all 0.1s ease-in;
  text-transform: uppercase;
}

.commonBtn:hover {
  background-color: var(--theme-color);
  color: var(--theme-color--two);
  border: 2px solid var(--theme-color);
}

/* Banner area is start */
.banner-area {
  padding-top: 100px;
}


.banner-content {
  margin-top: 10%;
}

.banner-social a {
  margin: 0 15px;
  padding: 30px 0;
  color: var(--white);
  font-size: 30px;
  transition: all 0.1s ease-in;
}

.banner-social a:hover {
  color: var(--theme-color);
}

#first-icon {
  margin: 0 15px 0 0;
}

/* About Me area is start */
.about-me-left p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: justify;
  padding: 20px 0;
}

.email-me {
  background-color: var(--theme-color);
  color: var(--theme-color--two);
  font-weight: 500;
}

.email-me:hover {
  background: none;
  color: var(--white);
}

.about-me-right img {
  float: right;
  width: 75%;
}

.about-me-right img:hover {
  animation: flash 1.5s;
}

.profileImg {
  width: 75%;
}

/* About Me area is End */

/* Skill Section is start */

.single-icon {
  box-shadow: 0px 10px 52px -35px #ffd200;
  border-radius: 20px;
  padding: 10px;
}

.single-icon img {
  margin: 15px;
}

.single-icon p {
  font-size: 12px;
}

.single {
  overflow: hidden;
  cursor: pointer;
}

.single img:hover {
  width: 100%;
  transform: scale(1.06);
  transition: 0.5s;
}

.single img {
  width: 100%;
}

/* Skill Section is start */

/* Projects Section is Start */

.project-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  place-items: center;
}

.more-design a {
  color: var(--white);
}

.more-design a:hover {
  color: var(--theme-color--two);
}

/* Projects Section is End */

/* Experience Section is End */
.date {
  font-size: 12px;
}

.experience p {
  line-height: 12px;
}

.experience span {
  font-weight: 400;
}

/* Experience Section is End */

/* Footer Section is Start */

.footer-area {
  background-color: #161616;
  padding-bottom: 20px;
}

.contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.single-footer {
  margin: 0 20px;
}

.footer-area p {
  color: #868686;
  font-size: 14px;
}

.single-footer p {
  line-height: 5px;
  font-size: 12px;
}

.single-footer h4 {
  font-size: 16px;
}

.socials a:hover {
  color: var(--theme-color) !important;
}

.hr {
  color: #919191;
}

#joydip {
  line-height: 1px;
  color: #303030;
  font-size: 10px;
}

/* ============================= Projects =========================== */

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 100px;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

/* Gallery Images */

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  padding: 7px;
}

#bg-white {
  background-color: #e1e8eb;
}

.gallery2 {
  margin-top: 30px;
}

.project-nav {
  padding: 0 75px;
}

/* =============================== Header area is start ============================ */

.palne {
  color: #ffd200;
}

header {
  position: fixed;
  left: 0;
  width: 100%;
  background: #111111;
}
.nav-list {
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}
.nav-list .logo {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}
.nav-list ul {
  position: relative;
  display: flex;
  margin-top: 14px;
}
.nav-list ul li {
  position: relative;
  list-style: none;
}
.nav-list ul li a {
  position: relative;
  padding: 5px 20px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.nav-list ul li a:hover {
  border-bottom: 1px solid #ffd200;
  color: #fff;
}

.toggle {
  display: none;
}

@media (max-width: 768px) {
  .nav-list ul {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: calc(100vh-80px);
    padding: 50px;
    text-align: center;
    overflow: auto;
    transition: 1s;
    background: #161616;
    flex-direction: column;
    margin-top: -2px;
    opacity: 0;
    transform: translateY(-100%);
  }
  header.active ul {
    opacity: 1;
    top: 80px;
    transform: translateY(0);
  }
  header ul li a {
    margin: 5px 0;
    font-size: 18px;
  }
  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .toggle:before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }
  .toggle:after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
  }
  header.active .toggle:before {
    top: 14px;
    transform: rotate(45deg);
    box-shadow: 0 0 0 #fff;
  }
  header.active .toggle:after {
    bottom: 14px;
    transform: rotate(-45deg);
  }
}

/* =============================== Header area is End ============================ */